{% extends 'layout.html' %}

{% block body %}
    {% include 'includes/_schiffenavbar.html' %}

    <script>
    $(function(){
      $("#limeExplanation").load("/static/lime_explanation_html/Schiffeexplain.html");
    });
    </script>

    <div style="border: 1px solid black;">

        <div class="container" style="float: left; width:35%;border: 1px solid black;">
            <form class="form-horizontal" action="/action_page.php">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Abmessungen_Länge:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Starflügler:</label>
                    <div class="col-sm-10">
                      <input type="password" id="pwd" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Tragflächen:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email1" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Triebwerke:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email2" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Rumpf:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email3" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">leitwerk:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email4" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Drehflügler:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email5" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Drehflügler_Rumpf_Cockpit:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email6" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Doppeldecker:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email7" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Tragflächen_Stellung_Gerade:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email8" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">HochDecker:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email9" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Triebwerke_triebwerksart:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email9" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Rumpf_Rumpfformen:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email9" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Drehflügler_Rotor:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email9" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Drehflügler_Triebwerk:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email9" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Drehflügler_Rumpf:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email9" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Drehflügler_Heckausleger:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email9" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Drehflügler_Triebwerk_Lufteinlass:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email9" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Drehflügler_Triebwerk_Luftauslass:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email9" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">drehflugler_Rotor_EinzelRotor_Rotorblatter:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email9" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">drehflugler_Triebwerk_Position_UberdemRumpf_Anzahl:</label>
                    <div class="col-sm-10">
                        <input type="email" id="email9" placeholder="Enter 1 or 0">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="limeExplanation" style="float: right; width:65%;">
                <br>
                <br>
        </div>

        <div style="clear:both; font-size:1px;"></div>

    </div>

{% endblock %}