<!--
<script>
    $(function(){
      $("#limeExplanation").load("/static/lime_explanation_html/Schiffeexplain.html");
    });
</script>
-->
<div style="border: 1px solid black;">
    <div class="container" style="float: left; width:38%;border: 1px solid black;">
        <h4 style="text-align:center;">Data Attributes</h4>
        <hr/>
        <form class="form-horizontal" action="" method="post">
            <div class="form-group">
                <label class="control-label col-sm-1" >Abmessungen_Breite:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="abmessungen_breite" value="{{request.form.abmessungen_breite}}" placeholder="Enter a number" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe:</label>
                <div class="col-lg-offset-8 col-sm-20">
                  <input type="text" name="uberwasserschiffe" value="{{request.form.uberwasserschiffe}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe_Rumpf_Rumpfart:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="uberwasserschiffe_rumpf_rumpfart" value="{{request.form.uberwasserschiffe_rumpf_rumpfart}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe_Rumpf_Bugformen:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="uberwasserschiffe_rumpf_bugformen" value="{{request.form.uberwasserschiffe_rumpf_bugformen}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe_Rumpf_Heckformen:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="uberwasserschiffe_rumpf_heckformen" value="{{request.form.uberwasserschiffe_rumpf_heckformen}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe_Rumpf:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="uberwasserschiffe_rumpf" value="{{request.form.uberwasserschiffe_rumpf}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe_Aufbauten:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="uberwasserschiffe_aufbauten" value="{{request.form.uberwasserschiffe_aufbauten}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Unterwasserschiffe_Rumpform_Röhrenförmig:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="unterwasserschiffe_rumpform_rohrenformig" value="{{request.form.unterwasserschiffe_rumpform_rohrenformig}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Unterwasserschiffe_Bugformen_Abgerundet:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="unterwasserschiffe_bugformen_abgerundet" value="{{request.form.unterwasserschiffe_bugformen_abgerundet}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Unterwasserschiffe_Bewaffnung:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="unterwasserschiffe_bewaffnung" value="{{request.form.unterwasserschiffe_bewaffnung}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Verwendungszweck_Organistaion_Kampfschiff:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="verwendungszweck_organistaion_kampfschiff" value="{{request.form.verwendungszweck_organistaion_kampfschiff}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe_Einzelrumpf:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="uberwasserschiffe_einzelrumpf" value="{{request.form.uberwasserschiffe_einzelrumpf}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe_Aufbauten_Brücke:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="uberwasserschiffe_aufbauten_brucke" value="{{request.form.uberwasserschiffe_aufbauten_brucke}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe_Bewaffnung_Wasserbomben:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="uberwasserschiffe_bewaffnung_wasserbomben" value="{{request.form.uberwasserschiffe_bewaffnung_wasserbomben}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe_Rumpf_Deckformen_Glattdecker:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="uberwasserschiffe_rumpf_deckformen_glattdecker" value="{{request.form.uberwasserschiffe_rumpf_deckformen_glattdecker}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe_AufbautenLänge_Schiffslänge_Gesamtanzahl:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="überwasserschiffe_aufbautenLänge_schiffslänge_gesamtanzahl" value="{{request.form.überwasserschiffe_aufbautenLänge_schiffslänge_gesamtanzahl}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe_Schornsteine_Abgasöffnungen_Gesamtanzahl:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="uberwasserschiffe_schornsteine_abgasoffnungen_gesamtanzahl" value="{{request.form.uberwasserschiffe_schornsteine_abgasoffnungen_gesamtanzahl}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Überwasserschiffe_Masten_Mittelschiff:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="uberwasserschiffe_masten_mittelschiff" value="{{request.form.uberwasserschiffe_masten_mittelschiff}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-9 col-lg-12">
                  <button type="submit" value="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div style="float: right; width:62%;">
        <div>
            <h4 style="text-align:center;">Explanation</h4>
            <hr/>

            <div align="center">
                {% if data %}
                    <!--<img src="/static/lime_explanation_images/schiffe_explanation.png" alt="limeExplanation" />-->

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
                    <!--<p style="text-align:center;">{{ data }}</p>-->

                    <div class="container" style="width:100%; float:center;">
                        <br>
                        <canvas id="barChart"></canvas>
                        <br>
                    </div>

                    <script src="/static/explanation_js_files/schiffe/explanationBarChart.js"></script>

                    <div>
                        <p class="lead" style="text-align:center;">Click the explanation button for the detailed explanation of each attributes <a href="/static/lime_explanation_html/Schiffeexplain.html" target="_blank" class="btn btn-info btn-lg">Explanation</a> </p>
                    </div>
                {% else %}
                    <div>
                        <p class="lead" style="text-align:center;">Please fill the data in the Data Attributes section and click on the submit button for explanation.</p>
                    </div>
                {% endif %}
            </div>

            <br>
        </div>
        <!--
        <div id="limeExplanation" >

        </div>
        -->
    </div>
    <div style="clear:both; font-size:1px;"></div>

</div>

