{% extends 'layout.html' %}

{% block body %}
    {% include 'includes/_aeroplanenavbar.html' %}

    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="employee_table">
                <tr>
                    <th>vector</th>
                    <th>attribute1</th>
                    <th>attribute2</th>
                    <th>attribute3</th>
                    <th>attribute4</th>
                    <th>attribute5</th>
                    <th>attribute6</th>
                    <th>attribute7</th>
                    <th>attribute8</th>
                    <th>result</th>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
