<script>
    $(function(){
      $("#limeExplanation").load("/static/lime_explanation_html/landfahrzeugexplain.html");
    });
 </script>

<div style="border: 1px solid black;">
    <div class="container" style="float: left; width:35%;border: 1px solid black;">
        <h4 style="text-align:center;">Data Attributes</h4>
        <hr style="height:1px;" />
        <form class="form-horizontal" action="" method="post">
            <div class="form-group">
                <label class="control-label col-sm-1" >Abmessungen_Breite:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="abmessungen_breite" value="{{request.form.abmessungen_breite}}" placeholder="Enter a number" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Gezogenes_Gerät:</label>
                <div class="col-lg-offset-8 col-sm-20">
                  <input type="text" name="gezogenes_gerät" value="{{request.form.gezogenes_gerät}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Räder_Achsen:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="räder_achsen" value="{{request.form.räder_achsen}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Kettenfahrzeug:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="kettenfahrzeug" value="{{request.form.kettenfahrzeug}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Kettenlaufwerk:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="kettenlaufwerk" value="{{request.form.kettenlaufwerk}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Kettendetails:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="kettendetails" value="{{request.form.kettendetails}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Aufbau_Turm_Turmform:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="aufbau_turm_turmform" value="{{request.form.aufbau_turm_turmform}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Aufbau_Turm_Turmposition:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="aufbau_turm_turmposition" value="{{request.form.aufbau_turm_turmposition}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Radfahrzeug:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="radfahrzeug" value="{{request.form.radfahrzeug}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Wanne_Karossiere_Holme_Lafette_Wanne:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="wanne_karossiere_holme_lafette_wanne" value="{{request.form.wanne_karossiere_holme_lafette_wanne}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Wanne_Karossiere_Holme_Lafette_Motor_Motorposition:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="wanne_karossiere_holme_lafette_motor_motorposition" value="{{request.form.wanne_karossiere_holme_lafette_motor_motorposition}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Wanne_Karossiere_Lafette_Wanne_Form_Kastenförmig:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="wanne_karossiere_lafette_wanne_form_kastenförmig" value="{{request.form.wanne_karossiere_lafette_wanne_form_kastenförmig}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Wanne_Karossiere_Lafette_Wanne_Form_Draufsicht_Bug:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="wanne_karossiere_lafette_wanne_form_draufsicht_bug" value="{{request.form.wanne_karossiere_lafette_wanne_form_draufsicht_bug}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Wanne_Karossiere_Lafette_Wanne_Form_Draufsicht_Heck:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="wanne_karossiere_lafette_wanne_form_draufsicht_heck" value="{{request.form.wanne_karossiere_lafette_wanne_form_draufsicht_heck}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Wanne_Karossiere_Holme_Lafette_Lucken:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="wanne_karossiere_holme_lafette_lucken" value="{{request.form.wanne_karossiere_holme_lafette_lucken}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" >Wanne_Karossiere_Motor_Motorposition_Hinten_Mitte:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="text" name="wanne_karossiere_motor_motorposition_hinten_mitte" value="{{request.form.wanne_karossiere_motor_motorposition_hinten_mitte}}" placeholder="Enter 1(present) / 0(absent)" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-9 col-lg-12">
                  <button type="submit" value="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div style="float: right; width:65%;">
        <div>
            <h4 style="text-align:center;">Explanation</h4>
            <hr/>

            <p style="text-align:center;">{{ data }}</p>

            <div align="center">
                {% if img %}
                    <img src="/static/lime_explanation_images/landfahrzeug_explanation.png" alt="limeExplanation" />
                    <div>
                        <p class="lead" style="text-align:center;">Click the explanation button for the detailed explanation of each attributes <a href="/static/lime_explanation_html/landfahrzeugexplain.html" class="btn btn-info btn-lg">Explanation</a> </p>
                    </div>
                {% endif %}
            </div>

            <br>
        </div>
        <!--
        <div id="limeExplanation" >

        </div>
        -->
    </div>
    <div style="clear:both; font-size:1px;"></div>

</div>

