<script>
$(function(){
  $("#limeExplanation").load("/static/lime_explanation_html/Luftfahrzeugexplain.html");
});
</script>

<div style="border: 1px solid black;">
    <div class="container" style="float: left; width:35%;border: 1px solid black;">
        <h4 style="text-align:center;">Data Attributes</h4>
        <hr style="height:1px;" />
        <form class="form-horizontal" action="/action_page.php">
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Abmessungen_Länge:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="pwd">Starflügler:</label>
                <div class="col-lg-offset-8 col-sm-20">
                  <input type="password" id="pwd" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Tragflächen:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email1" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Triebwerke:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email2" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Rumpf:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email3" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Leitwerk:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email4" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Drehflügler:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email5" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Drehflügler_Rumpf_Cockpit:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email6" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Doppeldecker:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email7" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Tragflächen_Stellung_Gerade:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email8" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">HochDecker:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email10" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Triebwerke_triebwerksart:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email11" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Rumpf_Rumpfformen:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email12" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Drehflügler_Rotor:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email13" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Drehflügler_Triebwerk:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email14" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Drehflügler_Rumpf:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email15" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Drehflügler_Heckausleger:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email16" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Drehflügler_Triebwerk_Lufteinlass:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email17" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">Drehflügler_Triebwerk_Luftauslass:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email18" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">drehflugler_Rotor_EinzelRotor_Rotorblatter:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email19" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1" for="email">drehflugler_Triebwerk_Position_UberdemRumpf_Anzahl:</label>
                <div class="col-lg-offset-8 col-sm-20">
                    <input type="email" id="email20" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-9 col-lg-12">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div id="limeExplanation" style="float: right; width:65%;">
            <br>
            <br>
    </div>

    <div style="clear:both; font-size:1px;"></div>

</div>